<!-- <div class="footer-container" xmlns:th="http://www.thymeleaf.org">
 
   @Copy right <a href="http://o7planning.org" target="_blank">o7planning.org</a>
   <br>
   See more <a>demo</a>
    
</div> -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>About</title>
      <link rel="icon" type="image" href="/images/mfavicon.ico">
      <link rel="stylesheet" href="/css/style.css" />
          <link rel="stylesheet" type="text/css" th:href="@{/css/accountInfo.css}">
      <style>
        
    </style>
   </head>
   <body>
   
  
  
   <div class="bg">
    <br>
   <br>
   
  
  
<section id="aboutUs">
 <th:block th:include="/header2"></th:block>
 <br>
<div class="letsalign">
  <button class="button-87 menu_btns" role="button"><a  th:href="@{/}">Home</a></button>
  </div>
		<footer class="site-footer">
			<div class="container">
				<div class="row">
				  <br>
					<h6>About Us</h6>
					<p class="text-justify">We are individuals with a passion for
						creativity and shopping. Here’s the deal. We believe that there is
						a better way to do shopping, we prefer online self-checkout,
						rather than making our customers stand in physical billing queues.
						We believe that our customers deserve the best of both worlds, a
						fast-shopping process but with the touch and feel of offline
						shopping. For us, it is a valuable way where customers are earned.
						We're obsessively passionate about it. Let's make your shopping
						experience beautiful together.</p>
				</div>
			</div>
			<hr>
			<div class="container">
				<div class="row">

					<h6>Meet Our Team</h6>
					<p class="text-justify">We’re a growing team of software
						developers and leaders — full of personality minus the ego. Our
						passion stems from our people. We value diversity and believe that
						different backgrounds, ideas, and perspectives are what make us a
						stronger and more capable team. We blend our strengths together,
						combining our experience and creative minds to bring the best
						ideas to the table and drive results for our customers.</p>
					<img th:src="@{/images/archith.png}" alt="archith" class="about1" />
					<img th:src="@{/images/meghana.jpg}" alt="meghana" class="about2" />
					<img th:src="@{/images/nuthan.png}" alt="nuthan" class="about3" />
					<img th:src="@{/images/pramod.png}" alt="pramod" class="about4" />
					<img th:src="@{/images/sanjay.png}" alt="sanjay" class="about5" />
					<img th:src="@{/images/ritesh.jpg}" alt="rithesh" class="about6" />
					<div class="name">

						 &emsp;&emsp;Archith R A &emsp; &emsp;&emsp;&emsp;
						&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;Meghana R
						&emsp;&emsp;&emsp;&emsp;&emsp; &nbsp;&emsp;&emsp;&emsp;
						&emsp;Nuthan S M L &emsp;
						&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&emsp;Pramod Gouda &emsp;
						&emsp;&nbsp; &nbsp; Rachamadugu Sanjay Guptha  &emsp;
						&nbsp;&nbsp;&nbsp;&nbsp; Ritesh Kumar Singh <br>
					</div>
					<div class="role">&emsp;&emsp; &emsp; &nbsp;&nbsp; ASD &emsp;
						&emsp;&emsp;&emsp;
						&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						&emsp;&nbsp;&nbsp;ASD &emsp;
						&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;
						&emsp;&nbsp;&nbsp; &emsp; ASD&emsp; &emsp;&emsp;&emsp;
						&emsp;&emsp;
						&emsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;ASD &emsp;
						&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp; &emsp;&nbsp;&nbsp;
						&emsp;&nbsp;&nbsp;&nbsp;&nbsp;
						ASD&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						&emsp; ASD</div>

				</div>


			</div>
			<hr>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-6 col-xs-12">
						<p class="copyright-text">
							Copyright &copy; 2022 All Rights Reserved by Retail
								Delight.
						</p>
					</div>
				</div>
			</div>
		</footer>
	</section>
	<br>
		<br>
			<br>
		<br>
			<br>
	<br>
	</div>
	</body>