
<div class="menu-container"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
   
    <div class="row justify-content-start padding_style" >
   <div class="menubar" align="right" >
   <nav class="nav_menu">
   <button class="button-87 menu_btns" role="button"><a  th:href="@{/}">Home</a></button><br>
   
  
   
   <button class="button-87 menu_btns" role="button"><a class="navi-item btn btn-primary "  role="button" th:href="@{/shoppingCart}">
   My Cart
   </a></button>
   </nav>
  </div>
  
</div>